<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GAN Tech Preview</title>

  <link rel="preload stylesheet" href="main.css" as="style">
  <link rel="preload" href="pvw.woff2" as="font" type="font/woff2">
</head>

<body>
  <header>
    <a class="logo" href="/">GAN Integrity<span class="tag"> — Web Technology Preview</span></a>
    <nav>
      <div class="dropdown">
        <button class="item">Products</button>
      </div>
      <div class="dropdown">
        <button class="item">Solutions</button>
      </div>
      <div class="dropdown">
        <button class="item">Resources</button>
      </div>
      <div class="dropdown">
        <button class="item">Tomato</button>
      </div>
      <div class="dropdown">
        <button class="item cta">Book a Call</button>
      </div>
    </nav>
  </header>
  <main>
    <section id="banner">
      <div class="container">
        <div class="text">
          <h1>Hello, and welcome to my home</h1>
          <h2>It appears you're connecting from <span class="country">Narnia</span>.</h2>
        </div>
        <div class="fig">
          <img src="banner.svg">
        </div>
      </div>
    </section>
    <section id="mission">
      <div class="container">
        <h1>This is a testing unit</h1>
        <p>
          There is tremendous potential to leverage our current digital assets (e.g. country profiles)
          and develop other free tooling to provide value, generate demand, and build our mailable pool.
          <b>This is a test module:</b>
        </p>
      </div>
    </section>
    <section id="regulations">
      <div class="container">
        <ul>
          <li class="tick">Regulatory compliance information unavailable.</li>
          <li id="p1" class="tick hidden">Detecting...</li>
        </ul>
      </div>
    </section>
    <section id="mission-2">
      <div class="container">
        <h1>Cloudflare Zaraz</h1>
        <p>
          Like Google's new server-sided tag management evolution, Cloudflare Zaraz executes client-side
          code on the server. This gives us very granular control over the flow of data (including PII)
          and allows us as a marketing team to participate in fully compliant practices without sacrificing
          functionality or analytic insights.
        </p>
        <p>
          Crucially, Zaraz will also circumvent tracking blockers. Many visitors block Google Tag Manager
          and Google Analytics from running in the browser. In fact, greater than 40% of visitors block
          any and all forms of tracking, creating a disparity in campaign attribution versus actual
          conversions and pipeline development. <b>Implementing Zaraz unlocks data from nearly all visitors,
            enables granular data compliance, and vastly decreases time to first contentful paint.</b>
        </p>
      </div>
    </section>
    <section id="mission-3">
      <div class="container">
        <h1>Control Risks</h1>
        <p>
          The next evolution of "country profiles" and regulations in context of locale should serve to
          bolster our authority as not only a provider of compliance management, but also as a valuable 
          partner in compliance workflow implementation. Because we understand and adapt to the rapidly
          changing regulatory landscape, we are equipped to inform clients on best practices for enacting
          critical change quickly.
        </p>
        <p>
          Control Risks Core+ Hyperion API provides data and intelligence on disruptive world events
          (e.g. Russia v. Ukraine) with respect to conflict, crime, disaster, health, terrorism, transportation,
          and unrest. Prospects will choose the compliance management platform with a team that also
          cares about the very same compliance challenges they face.
        </p>
        <p>
          We should leverage our relationship with Control Risks to unlock this data if we can. Both Cloudflare
          and Zola are capable of making requests to the Control Risks API to populate up-to-date information
          on a wide variety of topics. It would cost Control Risks next to nothing and would benefit both
          companies in securing more conversions.
        </p>
      </div>
    </section>
  </main>
</body>

</html>
